.button-section{
  display: flex;
  justify-content: flex-end;
 
}
.edit, .delete, .save, .cancel{
  padding: 0rem;
  margin:1rem;
  background-color: white;
  color:#000000;
  border:none;
  
}
.card-body{
  padding: .5rem;
}


@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
 
}
@media only screen and (max-width: 1200px) {
  
}